{% load static %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">



<div class="sidebar sidelw border-left border-right disn" >


  <a href="/upload/" class="border-bottom btn-social btn-behance hoverWrapper"><i class="fas fa-gear fa-3x"></i>
   <code class="hoverShow1 k">Add your project</code>
  </a>

  <a href="/timeline/test/" class="border-bottom btn-social btn-behance hoverWrapper"><i class="fas fa-code fa-3x"></i>
   <code class="hoverShow1 k">Amcat Practice</code>
  </a>
  <a href="/timeline/team/" class="border-bottom btn-social btn-behance hoverWrapper"><i class="fas fa-user-plus fa-3x"></i>
   <code class="hoverShow1 k">Make a Team </code>
  </a>
  <a href="/timeline/team/allteams/" class="border-bottom btn-social btn-behance hoverWrapper"><i class="fas fa-users fa-3x"></i>
   <code class="hoverShow1 k">Show All Teams </code>
  </a>

</div>

<div class="r sidebar border-left">
    <a ><img class="rounded-circle border" src="{{ dp.display_picture.url }}" height="200px" width="200px"></a>
    <a style="font-family:" href="/myprofile/">My Profile</a>
    <a class="btn btn-outline-primary" style="display: -webkit-inline-box; width:30%; font-family:sofia" href="/logout/">Logout</a><br><hr><br>
    <div><code>Number of pages where construction work is going on: 3</code></div>

</div>