{% extends 'base_html.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
    <br><h1>Add Your Details</h1><br><br>
    <form action="/myprofile/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table><br>
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Login</button>
    </form>

{% else %}

   <br><code style="font-size:300%">Signup first Sir.......<a href="/signup/">click here</a></code><br><br>
{% endif %}
{% endblock %}